<!--App Component-->
<h4>{{titleString}}</h4>

<nav>

  <!--<a style="margin-left: 20px" routerLink="">First</a>-->
  <!--<a style="margin-left: 20px" routerLink="second">Second</a>-->
  <!--<a style="margin-left: 20px" routerLink="third">Third</a>-->
  <!--<a style="margin-left: 20px" routerLink="four">Four</a>-->

  <!--<a href="http://androidthai.in.th" style="margin-left: 20px">AndroidThai</a>-->

  <button style="margin-left: 20px" routerLink="">First</button>
  <button style="margin-left: 20px" routerLink="second">Second</button>
  <button style="margin-left: 20px" routerLink="third">Third</button>
  <button style="margin-left: 20px" routerLink="four">Four</button>


</nav>



<!--Add Router-->
<router-outlet></router-outlet>



